body {
    font-family: Arial, sans-serif;
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #e7c35e;
}
h1, #result3{
 
   text-align: center;
}

.quiz-container {
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 20px;
    border-radius: 8px;
    background-color: white;
}

.button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0056b3;
}


.profile-detail {
  background-color: white; 
  width: 60%; 
  margin: 5% auto 5% auto;
  padding: 5%;
  border-radius: 15px;
  box-shadow: 5px 5px 5px #333333
}
